* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: gray;
}

nav {
  height: 50px;
}

.login-button {
  float: right;
  margin-right: 25px;
  margin-top: 15px;
}

.title {
  height: 100px;
  width: auto;
  border: 1px solid black;
  text-align: center;
}
